@font-face {
  font-family: "iconfont"; /* Project id 5052105 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1773805337118') format('woff2'),
       url('iconfont.woff?t=1773805337118') format('woff'),
       url('iconfont.ttf?t=1773805337118') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangshangjiantouquan:before {
  content: "\e654";
}

.icon-xiangshangjiantouquan-copy:before {
  content: "\ec18";
}

.icon-yongliang:before {
  content: "\e609";
}

.icon-shouye:before {
  content: "\e608";
}

.icon-role:before {
  content: "\e607";
}

.icon-rizhi:before {
  content: "\e627";
}

.icon-yonghuguanli:before {
  content: "\e604";
}

.icon-shujumoxingguanli:before {
  content: "\e605";
}

.icon-keyguanli:before {
  content: "\e67b";
}

.icon-Claude:before {
  content: "\e603";
}

.icon-gemini:before {
  content: "\e738";
}

.icon-file:before {
  content: "\e68d";
}

.icon-file1:before {
  content: "\e68e";
}

.icon-wenjianjia:before {
  content: "\ec17";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-jianhao:before {
  content: "\eaf5";
}

.icon-jiahao-copy:before {
  content: "\ec19";
}

.icon-duihao:before {
  content: "\eaf1";
}

.icon-cuo:before {
  content: "\e63f";
}

.icon-deepseek:before {
  content: "\e697";
}

.icon-chatgpt:before {
  content: "\e617";
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-yongyan:before {
  content: "\e602";
}

.icon-shanchu:before {
  content: "\e642";
}

.icon-icon-checkin:before {
  content: "\e615";
}

.icon-bianji:before {
  content: "\e65d";
}

.icon-shuxie1:before {
  content: "\e75f";
}

.icon-shuxie:before {
  content: "\e659";
}

.icon-a-icon1beifen:before {
  content: "\e60a";
}

.icon-icon:before {
  content: "\e658";
}

.icon-daochu1:before {
  content: "\e61b";
}

.icon-tuichu:before {
  content: "\e60e";
}

.icon-fl-renyuan:before {
  content: "\e625";
}

.icon-shuaxin:before {
  content: "\e600";
}

.icon-gengduo:before {
  content: "\e612";
}

.icon-zan:before {
  content: "\e839";
}

.icon-cai:before {
  content: "\e840";
}

.icon-gengduo1:before {
  content: "\e6a7";
}

.icon-gpt:before {
  content: "\e929";
}

.icon-GPT:before {
  content: "\e652";
}

.icon-lianjie2:before {
  content: "\e65a";
}

.icon-renminbi1688:before {
  content: "\e6cb";
}

.icon-renminbi:before {
  content: "\e685";
}

.icon-daochu:before {
  content: "\e638";
}

.icon-baifenhao:before {
  content: "\e60b";
}

.icon-meiyuan:before {
  content: "\eb1a";
}

.icon-fuzhi:before {
  content: "\e606";
}

.icon-fasong1:before {
  content: "\e616";
}

.icon-xiazai:before {
  content: "\e665";
}

.icon-a-xiangshangfasong4:before {
  content: "\e611";
}

.icon-wenjianjia1:before {
  content: "\e83b";
}

.icon-PDFwenjian:before {
  content: "\e60d";
}

.icon-weibiaoti-2_huaban1:before {
  content: "\e758";
}

.icon-weibiaoti-2_huaban11:before {
  content: "\e759";
}

.icon-wenjianleixing-biaozhuntu-tupianwenjian:before {
  content: "\e6a5";
}

.icon-xlswenjian:before {
  content: "\e619";
}

.icon-csv:before {
  content: "\e6ec";
}

.icon-s12:before {
  content: "\e601";
}

.icon-yasuobao:before {
  content: "\e6d4";
}

